@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital@0;1&display=swap");

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.input-form {
    width: 100%;
    border-radius: 0.25rem; /* rounded */
    border: 1px solid #d1d5db; /* border-gray-300 */
    padding: 0.5rem; /* p-2 */
    outline: none; /* focus:outline-none */
  }
  
  .input-form:focus {
    box-shadow: 0 0 0 2px rgba(251, 191, 36, 0.5); /* focus:ring-2 focus:ring-amber-300 */
  }