---
import { Header } from '../components/ui/organisms/Header.jsx';
import { ContactBar } from '../components/ui/molecules/ContactBar.jsx';
import '../styles/globals.css';
import "../styles/fonts/fonts.css";
import { Footer } from '../components/ui/organisms/Footer';
const pathname = Astro.url.pathname;
---

<html lang="pl" class="p-0 m-0 scroll-smooth box-border">
  <head>
    <title>Kancelaria Kryska Wrocław – porady prawne, umowy, mediacje, obsługa firm</title>
    <meta name="description" content="Kancelaria Kryska we Wrocławiu – ponad 15 lat doświadczenia w poradach prawnych, sporządzaniu i opiniowaniu umów, negocjacjach, mediacjach, zastępstwie prawnym i obsłudze przedsiębiorców. Kompleksowe wsparcie w prawie spółek, pracy, nieruchomości, spadkowym, administracyjnym oraz upadłościowym. Skuteczna pomoc i zaufanie klienta." />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
  </head>
  <body id="start" class="font-inter">
    <ContactBar />
    <Header client:load />
    <main class="min-h-[120vh] w-full">
      <slot />   <!-- tu wstawiają się treści z podstron -->
    </main>
    <Footer currentPath={pathname}/>
  </body>
</html>
